<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="assets/img/breadcrumb-contact-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>{{'Contact us'|translate}}</h4>
          <div class="bt-option">
            <a href="/"><i class="fa fa-home"></i>{{'Home'|translate}}</a>
            <span>{{'Contact'|translate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Form Section Begin -->
<section class="contact-form-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cf-content">
          <div class="cc-title">
            <h4>{{'Contact'|translate}}</h4>
            <p>{{'Fill out the form below if you need to contact us consulting real estate products or all related matters'|translate}}</p>
          </div>
          <form action="#" class="cc-form">
            <div class="group-input">
              <input type="text" placeholder="{{'Name'|translate}}">
              <input type="text" placeholder="Email">
              <input type="text" placeholder="{{'Phone Number'|translate}}">
            </div>
            <textarea placeholder="{{'Fill out the question'|translate}}"></textarea>
            <button type="submit" class="site-btn">{{'Send'|translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Form Section End -->
