<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg"  data-setbg="assets/img/breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>{{'About'| translate}}</h4>
          <div class="bt-option">
            <a routerLink="/"><i class="fa fa-home"></i> {{'Home'| translate}}</a>
            <span>{{'About'| translate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- About Section Begin -->
<section class="about-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-text">
          <div class="at-title">
            <h3>{{'WELCOME TO BDS GROUP'|translate}}</h3>
            <p>{{'Nearly 90% of investors always believe in real estate when there is a need to buy and sell and exchange real estate.'|translate}}</p>
          </div>
          <div class="at-feature">
            <div class="af-item">
              <div class="af-icon">
                <img src="assets/img/chooseus/chooseus-icon-1.png" alt="">
              </div>
              <div class="af-text">
                <h6>{{'Find your dream home'|translate}}</h6>
                <p> {{'We will help you find the home you love at the most reasonable price.'|translate}}</p>
              </div>
            </div>
            <div class="af-item">
              <div class="af-icon">
                <img src="assets/img/chooseus/chooseus-icon-2.png" alt="">
              </div>
              <div class="af-text">
                <h6>{{'Experienced real estate specialist'|translate}}</h6>
                <p>{{'Finding the expert to advise on what you want is easy.'|translate}}</p>
              </div>
            </div>
            <div class="af-item">
              <div class="af-icon">
                <img src="assets/img/chooseus/chooseus-icon-3.png" alt="">
              </div>
              <div class="af-text">
                <h6>{{'Buy or rent a home'|translate}}</h6>
                <p>{{'We have millions of homes in the cities you love.'|translate}}<</p>
              </div>
            </div>
            <div class="af-item">
              <div class="af-icon">
                <img src="assets/img/chooseus/chooseus-icon-4.png" alt="">
              </div>
              <div class="af-text">
                <h6>{{'Your real estate listings'|translate}}</h6>
                <p>{{'Sign up now to sell or rent your property.'|translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-pic set-bg"  data-setbg="assets/img/about-us.jpg">
          <a href="https://www.youtube.com/watch?v=jMBl4UOtUAM" class="play-btn video-popup">
            <i class="fa fa-play-circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Team Section Begin -->
<section class="team-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="section-title">
          <h4>{{'OUR LEADERSHIP'|translate}}</h4>
        </div>
      </div>
<!--      <div class="col-lg-4 col-md-4">-->
<!--        <div class="team-btn">-->
<!--          <a routerLink="/"><i class="fa fa-user"></i> ALL counselor</a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="ts-item">
          <div class="ts-text">
            <img src="assets/img/team/team-1.jpg" alt="">
            <h5>Nguyễn Hữu Tài</h5>
            <span>123-455-688</span>
            <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
            <div class="ts-social">
              <a routerLink="/"><i class="fa fa-facebook"></i></a>
              <a routerLink="/"><i class="fa fa-twitter"></i></a>
              <a routerLink="/"><i class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ts-item">
          <div class="ts-text">
            <img src="assets/img/team/team-2.jpg" alt="">
            <h5>Nguyễn Hữu Tài</h5>
            <span>123-455-688</span>
            <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
            <div class="ts-social">
              <a routerLink="/"><i class="fa fa-facebook"></i></a>
              <a routerLink="/"><i class="fa fa-twitter"></i></a>
              <a routerLink="/"><i class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ts-item">
          <div class="ts-text">
            <img src="assets/img/team/team-3.jpg" alt="">
            <h5>Nguyễn Hữu Tài</h5>
            <span>123-455-688</span>
            <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
            <div class="ts-social">
              <a routerLink="/"><i class="fa fa-facebook"></i></a>
              <a routerLink="/"><i class="fa fa-twitter"></i></a>
              <a routerLink="/"><i class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h4>{{'CUSTOMER REVIEWS'|translate}}</h4>
        </div>
      </div>
    </div>
    <div class="row testimonial-slider owl-carousel">
      <div class="col-lg-6">
        <div class="testimonial-item">
          <div class="ti-text">
            <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
              magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
          </div>
          <div class="ti-author">
            <div class="ta-pic">
              <img src="assets/img/testimonial-author/ta-1.jpg" alt="">
            </div>
            <div class="ta-text">
              <h5>Phan Văn Vũ</h5>
              <span>Designer</span>
              <div class="ta-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-item">
          <div class="ti-text">
            <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
              magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
          </div>
          <div class="ti-author">
            <div class="ta-pic">
              <img src="assets/img/testimonial-author/ta-2.jpg" alt="">
            </div>
            <div class="ta-text">
              <h5>Phan Văn Vũ</h5>
              <span>Designer</span>
              <div class="ta-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-item">
          <div class="ti-text">
            <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
              magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
          </div>
          <div class="ti-author">
            <div class="ta-pic">
              <img src="assets/img/testimonial-author/ta-1.jpg" alt="">
            </div>
            <div class="ta-text">
              <h5>Phan Văn Vũ</h5>
              <span>Designer</span>
              <div class="ta-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial Section End -->
