<!-- Offcanvas Menu Wrapper Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="canvas-close">
    <span class="icon_close"></span>
  </div>
  <div class="logo">
    <a routerLink="/">
      <img src="assets/img/g-logo.png" alt="">
    </a>
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="om-widget">
    <ul>
      <a href="mailto:bdsgroup.support@gmail.com">
        <li><i class="icon_mail_alt"></i> bdsgroup.support@gmail.com</li>
      </a>
      <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
    </ul>
    <a routerLink="/" class="hw-btn">{{'login' | translate}}</a>
  </div>
  <div class="om-social">
    <a routerLink="/"><i class="fa fa-facebook"></i></a>
    <a routerLink="/"><i class="fa fa-twitter"></i></a>
    <a routerLink="/"><i class="fa fa-youtube-play"></i></a>
    <a routerLink="/"><i class="fa fa-instagram"></i></a>
    <a routerLink="/"><i class="fa fa-pinterest-p"></i></a>
  </div>
</div>
<!-- Offcanvas Menu Wrapper End -->

<!-- Header Section Begin -->
<header class="header-section">
  <div class="hs-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="logo">
            <a routerLink="/"><img src="assets/img/g-logo.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="ht-widget">
            <ul>
              <a href="mailto:bdsgroup.support@gmail.com">
                <li><i class="icon_mail_alt"></i> bdsgroup.support@gmail.com</li>
              </a>
              <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
            </ul>
            <a *ngIf="!getTitle()" routerLink="/login" class="hw-btn">{{'login' | translate}}</a>
            <a *ngIf="!getTitle()" routerLink="/register" class="hw-btn ml-3">{{'register' | translate}}</a>
            <a *ngIf="getTitle()" routerLink="/register" class="hw-btn ml-3">{{getTitle()}}</a>
            <a *ngIf="getTitle()" (click)="logOut()" class="hw-btn ml-3">{{'logout' | translate}}</a>

          </div>
        </div>
      </div>
      <div class="canvas-open">
        <span class="icon_menu"></span>
      </div>
    </div>
  </div>
  <div class="hs-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <nav class="nav-menu">
            <ul>
              <li class="active"><a routerLink="/">{{ 'Home' | translate }} </a></li>
              <li><a i18n routerLink="/property/list-properties">{{'Product' | translate}} </a>
<!--                <ul class="dropdown">-->
<!--                  <li><a routerLink="/property/list-properties-for-sale">{{'real estate for sale' | translate}}</a></li>-->
<!--                  <li><a routerLink="/property/list-properties-for-rent">{{'real estate for rent' | translate}}</a></li>-->
<!--                  <li><a routerLink="/property-deltail">{{'Product detail'| translate}}</a></li>-->
<!--                </ul>-->
              </li>
              <li><a routerLink="/project">{{'Project' | translate}}</a></li>
              <li><a routerLink="/agent">{{'consultants' | translate}}</a>
<!--                <ul class="dropdown">-->
<!--                  <li><a routerLink="/properties">{{'profile consultant' | translate}}</a></li>-->
<!--                </ul>-->
              </li>
              <li><a routerLink="/about">{{'About' | translate}}</a></li>
              <li><a routerLink="/news-list">{{'News'| translate}}</a></li>
              <li><a routerLink="/contact">{{'contact'|translate}}</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="hn-social">
            <a routerLink="/"><i class="fa fa-facebook"></i></a>
            <a routerLink="/"><i class="fa fa-twitter"></i></a>
            <a routerLink="/"><i class="fa fa-youtube-play"></i></a>
            <a (click)="switchLanguage('vn')"><img src="../../../assets/img/language/vietnam32.png" alt=""></a>
            <a (click)="switchLanguage('en')"><img src="../../../assets/img/language/uk32.png" alt=""></a>

<!--            <div class="dropdown">-->
<!--              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                Languge-->
<!--              </button>-->
<!--              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                <a class="dropdown-item" href="#">Action</a>-->
<!--                <a class="dropdown-item" href="#">Another action</a>-->
<!--                <a class="dropdown-item" href="#">Something else here</a>-->
<!--              </div>-->
<!--            </div>-->
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
