<!-- Contact Section Begin -->
<br>
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-info">
          <div class="ci-item">
            <div class="ci-icon">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="ci-text">
              <h5>{{'Address'|translate}}</h5>
              <p>135/6 Vũ Lăng, Cẩm Lệ, Đà Nẵng</p>
            </div>
          </div>
          <div class="ci-item">
            <div class="ci-icon">
              <i class="fa fa-mobile"></i>
            </div>
            <div class="ci-text">
              <h5>{{'Phone Number'|translate}}</h5>
              <ul>
                <li>125-711-811</li>
                <li>125-668-886</li>
              </ul>
            </div>
          </div>
          <div class="ci-item">
            <div class="ci-icon">
              <i class="fa fa-headphones"></i>
            </div>
            <div class="ci-text">
              <h5>Email</h5>
              <p>Support.bds@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cs-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.7838808890156!2d108.18390771470179!3d16.024762044884977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142197ef556b01b%3A0xc67894c8531ff2f5!2zMTM1IFbFqSBMxINuZywgSG_DoCBQaMOhdCwgQ-G6qW0gTOG7hywgxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1597017904926!5m2!1svi!2s" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</section>
<!-- Contact Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="fs-about">
          <div class="fs-logo">
            <a routerLink="/">
              <img src="assets/img/g-logo.png" alt="">
            </a>
          </div>
          <p>{{'Nearly 90% of investors always believe in real estate when there is a need to buy and sell and exchange real estate.'|translate}}</p>
          <div class="fs-social">
            <a routerLink="/"><i class="fa fa-facebook"></i></a>
            <a routerLink="/"><i class="fa fa-twitter"></i></a>
            <a routerLink="/"><i class="fa fa-youtube-play"></i></a>
            <a routerLink="/"><i class="fa fa-instagram"></i></a>
            <a routerLink="/"><i class="fa fa-pinterest-p"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="fs-widget">
          <h5>{{'Help'| translate}}</h5>
          <ul>
            <li><a routerLink="/">{{'Privacy Policy'|translate}}</a></li>
            <li><a routerLink="/">{{'Contact'|translate}}</a></li>
            <li><a routerLink="/">{{'Recruitment'|translate}}</a></li>
            <li><a routerLink="/">{{'frequently asked Questions'|translate}}</a></li>
          </ul>
        </div>
      </div>
<!--      <div class="col-lg-2 col-sm-6">-->
<!--        <div class="fs-widget">-->
<!--          <h5>Links</h5>-->
<!--          <ul>-->
<!--            <li><a routerLink="/">Contact</a></li>-->
<!--            <li><a routerLink="/">Create Property</a></li>-->
<!--            <li><a routerLink="/">My Properties</a></li>-->
<!--            <li><a routerLink="/">Register</a></li>-->
<!--            <li><a routerLink="/">Login</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-lg-4 col-md-6">
        <div class="fs-widget">
          <h5>{{'Subscribe to receive notifications'|translate}}</h5>
          <p>{{'Sign up to receive latest real estate alerts via Email.'|translate}}</p>
          <form action="#" class="subscribe-form">
            <input type="text" placeholder="Email">
            <button type="submit" class="site-btn">{{'Subscribe'|translate}}</button>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright-text">
      <p>
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        {{'Indicate the source from "BDS" when republishing information from this website.'|translate}}
      </p>
    </div>
  </div>
</footer>
