<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="assets/img/breadcrumb-business.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>{{'Reset Password'|translate}}</h4>
          <div class="bt-option">
            <a href="/"><i class="fa fa-home"></i> {{'Home'|translate}}</a>
            <span>{{'Reset Password'|translate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Form Section Begin -->
<section class="contact-form-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cf-content">
          <div class="cc-title">
            <h4>{{'Reset Password'|translate}}</h4>
          </div>
          <form action="#" class="cc-form">
            <div class="group-input">
              <input name="username" [(ngModel)]="token" type="hidden" placeholder="Token">
              <input [(ngModel)]="password" type="text" name="password"  placeholder="{{'Password'|translate}}">
              <input [(ngModel)]="rspassword" type="text" name="password"  placeholder="{{'Confirm Password'|translate}}">
            </div>
          </form>
          <button type="submit" class="site-btn" (click)="resetpassword(token, password)">{{'Confirm'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Form Section End -->
